@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

/* * {
    border: 1px solid red;
} */

/* .headerside {
    margin-top: 20px;

} */


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;    
    margin-bottom: 0.5%;
    max-width: 80%;
}
.logopic {
    max-width: 70%;
}
.home {
    flex-grow: 1;
    font-weight: 200;
    font-size: 0.8em;
    color: black;
}
.features {
    flex-grow: 1;
    font-weight: 200;
    font-size: 0.8em;
    color: black;
}
.pricing {
    flex-grow: 1;
    font-weight: 200;
    font-size: 0.8em;
}
.works {
    flex-grow: 1;
    font-weight: 200;
    font-size: 0.8em;
}
.support {
    flex-grow: 1;
    font-weight: 200;
    font-size: 0.8em;
}
.knopfen {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;
    margin-right: 100px;
}
.anmelden {
    margin-right: 5%;
    padding: 5%;
}
#eintragen {
    color: #0850F8;
}
.versuchen {
    padding: 5%;
}
.anmelden-1 {
    padding: 10%;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    border: 3px solid #0850F8;
    border-radius: 10px;
    font-weight: 500;
    color: #0850F8;
    text-align: center;
}
.versuchen-1 {
    padding: 10%;
    width: 100%;
    background-color: #0850F8; 
    border: 2px solid #0850F8;
    border-radius: 10px;
    color: white;
    font-weight: 500;

}

.versuchen-1 a {
    color: white;  
}

.anmelden-1 a{
    color: #0850F8;
    font-weight: thick;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
   
}

.upper{
    display: flex;
    height: 640px;
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;
    margin-right: 100px;
   
    
}

.upper1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: flex-start;
    

}

.upper img {
    
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    
    
}

.text h1{
    margin-bottom: -10px;

}

.text h2{ 
    margin-bottom: -2px;
    
}

.upper2 {
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    
    
}


.upper h1 {
    font-size: 60px;
    font-weight: 1500;
}

.upper h2 {
    font-size: 40px;
    font-weight: 1500;
}

.upper h3 {
    color: gray;
    font-size: 19px;
    font-weight: 800;

}

.upper p {
    font-size: 18px;
}

.upper h4{
    font-size: 14px;
}


.upper i{
    color: #0850F8;
    
}

.footer i{
    color: white;

}

.double p {
    color: gray;
    font-size: 19px;
    font-weight: 500;

}

hr {
    width: 50%;
}

.how {
    width: 33%;
    text-align: center;
    margin: auto;
}

.how p {
    font-size: 22px;
    font-weight: bold;
}


.box1{
   
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid #0850F8;
}

.box2{
    
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    background-color: #0850F8;


}

.box3{
    
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid #0850F8;
}

.box4{
    
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    background-color: #0850F8;
}


.boxes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 30em;

}

.boxes2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 30em;

}

.overlayimg{
    margin: auto;
    height: 20em;
    margin-top: 80px;
    width: 70%;
    display: flex;
    justify-content: center;
    


}

.overlayimg2{
    margin: auto;
    height: 320px;
    width: 30%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    
}


.overlay2 h2{
font-weight: bold;
}

.overlay2 {

    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    font-size: 23px;
    

}

.footer{
    background-color: #0850F8;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}

.footer h2{
    font-size: 30px
}

.footer h3{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 800;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-bottom: -10px;

    
    
}


.signup i{
    color: white; 
    /* margin-top: 5px; */
    display: inline-block;
}

.footerchat i{
    color: #0850F8; 
    display: inline-block;
}


.chat1 {
    padding: 10%;
    padding-left: 55px;
    padding-right: 55px;
    border: 3px solid #0850F8;
    border-radius: 10px;
    font-weight: 500;
    color: #0850F8;
    text-align: center;
}
.signup1 {
    padding: 10%;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #0850F8; 
    border: 3px solid #0850F8;
    border-radius: 10px;
    color: white;
    font-weight: 500;

}

.signup1 a {
    color: white;  
}

.chat1 a{
    color: #0850F8;
    font-weight: thick;
}

.footerbutton {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    
}


.fas{
    color: white; 
    /* margin-top: 5px; */
    display: inline-block;
}

.far{
    color: #0850F8; 
    display: inline-block;
}


.footerchat1 {
    padding: 10%;
    padding-left: 55px;
    padding-right: 55px;
    border: 3px solid #0850F8;
    border-radius: 10px;
    font-weight: 500;
    color: #0850F8;
    background-color: white;
    text-align: center;
    font-size: 18px;
}
.footersignup1 {
    padding: 10%;
    padding-left: 55px;
    padding-right: 55px;
    background-color: lime;
    border: 3px solid #0850F8;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;

}

.footersignup1 a {
    color: white;  
}

.footerchat1 a{
    color: #0850F8;
    font-weight: thick;
}